*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* -----------------------INDEX--------------------------- */

.logo{
    width: 31px; 
}

.navbar{
    background-color: goldenrod;
    
}



.carousel-inner img {
    width:100%;
    width:100%;
    background-position:center;
    background-size:cover;
    
}



.fuente{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    
}

.titulo{
    text-transform: uppercase;
    font-weight: bold;
    
}

.nosotros{
    text-align: center;
    margin: 60px;
    color:black;
    font-size: 30px;
    font-family:'Domine', serif;
    font-weight:300;
    
}

.nleft{
    padding-left: 35px;
    background-color: whitesmoke;
    border-radius: 5px;

}

.nrigth{
    padding-left:35px;
    
    
}

/*------footer-------*/

.piedepagina{
    background-color:goldenrod;
    margin:auto;

}

.piepaginafinal{
    color: white;
    background-color:#24303c;
}



/*-----------------------La Empresa---------------------------------*/


#titulo{
    font-family:'Domine', serif;
    font-weight:300;
}

.imagenempresa{
    background-image: url(./img/empresa.jpg);
    background-position: center;
    background-size:cover;
    height:350px;
    border-radius:4px;
}

.imagenempresa2{
    background-image: url(./img/financiero.jpg);
    background-position: center;
    background-size:cover;
    height:350px;
    border-radius:4px;
}



/*-----------------------servicios-------------------------------*/

.servicios{
    font-family: 'ubuntu',sans-serif;
    background-color:#dbe5e6;
    padding: 30px 0px;
}

.servicios h1 {
    font-family:'Domine', serif;
    font-weight:300;
    padding-bottom:5px;
}

.card-img-top{
    width:100%;
    height:15vw;
    object-fit: cover;
}

.title{
    text-align: center;
    padding: 25px 0px;
    

}

.card-text{
    font-size:14px;
}

.cardservicio{
    box-shadow: 0 0 20px 7px rgba(0,0, 0,1);
}

.card{
    margin: 20px 10px;
}




/*---------clientes-------*/

.clientes{
    font-family:'Domine', serif;
    font-weight:500;

}



/*------------------obras---------------------*/

.titulobras{
    font-family:'Domine', serif;
    font-weight:100;
}

#galeria .col-lg-4{
    margin: 0 !important;
    padding: 25px;
}

#galeria img{
    width: 100%;
    height:200px;
    background-size:cover;
    
}

#galeria img:hover{
    border:5px solid #f7f7f7;
    
}





/* --------------CONTACTO------- */

.imagenfondo{
    background-image:url(./img/formulario.jpg) ;
    background-repeat:no-repeat;
    background-size: cover;
}

.recuadro{
    background-color: #24303c;
    border-radius: 7px;
    box-shadow: 7px 13px 37px #000;
    
    
    
}

.letralabel{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}









/*------------Media Queries--------------*/


@media (max-width:575px){

    /*----pie de pagina y navbar---*/

    .piedepagina{
        text-align: center; 
    }

    .fuente{
        color:black;
        font-size: 15px;
        font-weight: bold;
        
    }

    .navbar-expand-md{
        border-radius:14px;
    }

    

    /*----index----*/

    .nrigth{
        padding-left:15px;
        
    }

    /*---la empresa----*/

    .imagenempresa{
        height: 200px;      
    }

    .imagenempresa2{
        height: 200px;
    }


    /*----servicios---*/

    .card-img-top{
        width:100%;
        height:100%;
        object-fit: cover;
    }

    /*----obras----*/

    #galeria{
        text-align: center;
    }

    .titulobras{
        font-size:35px;
    }


    /*----contacto---*/

    .formulario{
        width:80%;
        height:70%;
    }
}
